 table,
 th,
 td {
     border: 1px solid black;
     border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 th{
    background-color: rgb(102, 102, 240)
 } 
 #roll,#name{
    text-align: center;
 }

 #form-div{
        display: flex;
        justify-content: center;
 }

 .form-div {
     height: 100px;
     position: relative;
    
 }

  .center {
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     justify-self: center;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 } 
 #sbtn{
    border-radius: 5px;
 }

 .button {
     background-color: grey;
     /* Green */
     border: none;
     color: white;
     padding: 10px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     border-radius: 5px;
    
 }

 #add{
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 3px 15px;
 }
 .center1 {
     margin: auto;
     width: 50%;
     padding: 100px;
 }
  #del {
      background-color: red;
      border-radius: 5px;
      padding: 3px 15px;
  }